.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.node {
    padding: 10px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
    cursor: pointer;
}

.content {
    display: flex;
}

.node.hightlight {
    background: red;
}